<!-- Question list nav bar -->
<div class="collapse navbar-collapse question-navbar-main">
    <ul class="nav navbar-nav question-navbar-list">
        <li class="question-navbar-list-item"><a class="question-navbar-list-item-link" href="#">All Activity</a> </li>
        <li class="question-navbar-list-item"><a class="question-navbar-list-item-link" href="#">Questions</a> </li>
        <li class="question-navbar-list-item"><a class="question-navbar-list-item-link" href="#">Unanswered</a> </li>
        <li class="question-navbar-list-item"><a class="question-navbar-list-item-link" href="#">Tags</a> </li>
    </ul>
</div>
<!-- End of question list nav bar -->

<!-- Question List heading -->
<div class="page-title">
    <div class="page-header">
        <h3>Question index</h3>
    </div>
</div>
<!-- End of question list heading -->

<!-- Question list -->
<div class="list-group q-list">
    <div class="list-group-item"
         ng-repeat="question in questions track by $index | filter:query | orderBy:sortField:reverse">
        <div class="media">
            <div class="media-left hidden-xs q-list-item-states">
                <div class="media-object">
                    <div class="q-list-item-state votes">Votes</div>
                    <div class="q-list-item-state answers">Answers</div>
                    <div class="q-list-item-state views">Views</div>
                </div>
            </div>
            <div class="media-body">
                <a href="#/question/{{question._id}}"><h4 class="media-heading">{{question.title}}</h4></a>

                <p>{{question.description}}</p>

                <div class="btn-toolbar" role="toolbar" aria-label="tags">
                    <a class="btn btn-info btn-xs btn-tags" href="#/tags/{{tag}}"
                       ng-repeat="tag in question.tags track by $index">{{tag}}</a>
                </div>
            </div>
            <div class="media-right media-middle">
                <div class="media-object">
                    <button class="btn btn-danger" type="button" ng-click="deleteQuestion(question._id)">Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<nav>
    <ul class="pagination" ng-show="totalPage>1">
        <li ng-hide="currentPage==1">
            <a href="javascript:void(0);"ng-click="prev()" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <!--<li id="{{page}}" ng-repeat="page in pages" ng-click="pageOnClick(page)"><a href="javascript:void(0);" ng-click="loadPage(page)">{{ page }}</a></li>-->
        <li id="{{page}}" ng-repeat="page in pages"><a href="javascript:void(0);" ng-click="loadPage(page)">{{ page }}</a></li>
        <li ng-hide="currentPage==totalPage">
            <a href="javascript:void(0);" ng-click="next()" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>