<!-- Start of question list nav bar -->
<div class="collapse navbar-collapse question-navbar-main">
    <ul class="nav navbar-nav">
        <li><a href="#">All Activity</a></li>
        <li><a href="#">Questions</a></li>
        <li><a href="#">Unanswered</a></li>
        <li><a href="#">Tags</a></li>
    </ul>
</div>
<!-- End of question list nav bar -->


<!-- Question List heading -->
<div class="page-title">
    <div class="page-header">
        <h3>Question index</h3>
    </div>
</div>
<!-- End of question list heading -->


<!-- Start of manager settings -->
<div class="row">
    <div class="col-xs-12 col-sm-4">
        <label for="search">Search:</label>
        <input ng-model="query" id="search" class="form-control" placeholder="Filter text">
    </div>
    <div class="col-xs-6 col-xs-4">
        <label for="search">items per page:</label>
        <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
    </div>
    <div class="col-xs-6 col-sm-4">
        <label class="btn-block" for="viewSwitch">Switch views</label>
        <div class="btn-group" id="viewSwitch">
            <label class="btn btn-primary" ng-model="viewModel" btn-radio="'customerView'" ng-click="setView('customer')">Customer view</label>
            <label class="btn btn-primary" ng-model="viewModel" btn-radio="'managerView'" ng-click="setView('manager')">Manager view</label>
        </div>
    </div>
</div>
<!-- End of manager settings -->


<!-- Start of question list with customer view -->
<div class="customer-view" id="customerView" ng-show="viewModel=='customerView'">
<div class="list-group q-list">
    <div class="list-group-item" ia-pagination="question in questions | filter:query | itemsPerPage: pageSize | orderBy:sortField.name:sortField.reverse track by $index" current-page="currentPage" pagination-id="questionListPaginationCustomerView">
        <div class="media">
            <div class="media-left hidden-xs q-list-item-states">
                <div class="media-object">
                    <div class="q-list-item-state votes">Votes</div>
                    <div class="q-list-item-state answers">Answers</div>
                    <div class="q-list-item-state views">Views</div>
                </div>
            </div>
            <div class="media-body">
                <a href="#/question/{{question._id}}"><h4 class="media-heading">{{question.title}}</h4></a>

                <p>{{question.description}}</p>

                <div class="btn-toolbar" role="toolbar" aria-label="tags">
                    <a class="btn btn-info btn-xs btn-tags" href="#/tags/{{tag}}"
                       ng-repeat="tag in question.tags track by $index">{{tag}}</a>
                </div>
            </div>
            <div class="media-right media-middle">
                <div class="media-object">
                    <button class="btn btn-danger" type="button" ng-click="deleteQuestion(question._id)">Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<nav class="text-left">
    <ia-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" pagination-id="questionListPaginationCustomerView"></ia-pagination-controls>
</nav>
</div>
<!-- End of question list with customer view -->

<!-- Start of question list with manager view -->
<div class="table-responsive manager-view" id="managerView" ng-show="viewModel=='managerView'">
    <pre>{{operation || 'null'}}</pre>
    <table class="table table-hover table-bordered table-condensed">
        <tr>
            <th><a href="javascript:void(0)" ng-click="setSortField('index')">#</a></th>
            <th><a href="javascript:void(0)" ng-click="setSortField('title')">Title</a></th>
            <th><a href="javascript:void(0)" ng-click="setSortField('user')">User</a></th>
            <th><a href="javascript:void(0)" ng-click="setSortField('createDate')">Create date</a></th>
            <th><a href="javascript:void(0)" ng-click="setSortField('lastAnswerDate')">Last answer date</a></th>
            <th><a href="javascript:void(0)" ng-click="setSortField('numOfAnswers')"># of answers</a></th>
            <th>Operations</th>
        </tr>
        <tr ia-pagination="fullInfoQuestion in fullInfoQuestions | filter:query | itemsPerPage: pageSize | orderBy:sortField.name:sortField.reverse track by $index" current-page="currentPage" pagination-id="questionListPaginationManagerView">
            <td>{{$index+1}}</td>
            <td><a href="#/question/{{fullInfoQuestion._id}}">{{fullInfoQuestion.title}}</a></td>
            <td><a href="#/user/{{fullInfoQuestion.user._id}}">{{fullInfoQuestion.user.name}}</a></td>
            <td>{{fullInfoQuestion.question.date}}</td>
            <td>{{fullInfoQuestion.question.answer.length==0?0:fullInfoQuestion.question.answer[fullInfoQuestion.question.answer.length-1]}}</td>
            <td>{{fullInfoQuestion.question.answer.length}}</td>
            <td>
                <div class="btn-group">
                    <label class="btn btn-danger btn-sm" ng-model="operation[fullInfoQuestion._id]" btn-radio="'delete'">DELETE</label>
                    <label class="btn btn-warning btn-sm" ng-model="operation[fullInfoQuestion._id]" btn-radio="'close'">CLOSE</label>
                    <button class="btn btn-info btn-sm" ng-click="seeDetails(fullInfoQuestion._id)">See Details</button>
                </div>
            </td>
        </tr>
    </table>
    <nav class="text-left">
        <ia-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" pagination-id="questionListPaginationManagerView"></ia-pagination-controls>
    </nav>
</div>