/* for all elements */
* {
    border-radius: 2px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

/* overwrite bootstrap class*/
.btn {
    border-radius: 1px;
}

.navbar-right li {
    margin-left: 10px;
    margin-right: 10px;
}

/* Customer style*/
/****************************/
/*        shell page        */
/****************************/
/* nav bar */
.navbar-extra {
    border-radius: 0;
    margin-bottom: 30px;
}

/* search bar & ask a question button */
.search-bar {
    padding-bottom: 15px;
}

.form-control-search {
    border-radius: 1px;
}

/* footer */
.featurette-divider {
    margin: 80px 0;
}

/****************************/
/* ask question detail page */
/****************************/
.input-gap {
    padding-bottom: 25px;
}

/****************************/
/*    list question page    */
/****************************/
.ng-view-container {
    text-align: left;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
    display: block;
}

/* nav bar */

.question-navbar-main {
    width: 100%;
    padding: 0;
    clear: both;
    border-radius: 1px;
    display: block;
}

.question-navbar-list {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    list-style: outside none none;
    background: none repeat scroll 0 0 #EAEAEA;
    border: 1px solid #DDD;
    display: block;
}

.question-navbar-list-item {
    display: block;
    margin: 0;
}

.question-navbar-list-item-link {
    color: #666 !important;
    display: block;
    font-weight: 700;
    padding: 7px 9px;
    -moz-transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    -ms-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

.question-navbar-list-item-link:hover {
    text-decoration: none;
    color: #069 !important;
    transition: all 0.2s ease-in-out 0s;
}

/* question list */
.item-state {
    width: 35%;
}

/****************************/
/*   answer question page   */
/****************************/
.question-desc-main {
    font-size: 18px;
    line-height: 1.5;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #555;
}