/* for all elements */
html, body {
    color: #505050;
    line-height: 1.7em;
    background: #f9f9f9;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-control, .btn, a, button {
    border-radius: 1px;
    text-decoration: none;
    outline: none;
}

a:active, a:focus, a:hover, a {
    outline: none;
    text-decoration: none;
}

/* overwrite bootstrap class*/
.navbar-collapse .navbar-right li {
    margin-left: 10px;
    margin-right: 10px;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

/* Customer style*/
/****************************/
/*        shell page        */
/****************************/

/* aside tool bar */
aside {
    position: fixed;
    right: 3%;
    bottom: 90px;
    text-align: center;
    z-index: 20000;
    display: block;
}

aside ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 140%;
}

aside ul li {
    position: relative;
    width: 100%;
    height: 100%;
    border-bottom: solid 1px #a0a0a0;
    margin-top: -2px;
}

aside ul div {
    position: relative;
    right: auto;
    width: 230px;
    height: auto;
}

aside ul .wechat-qr-code div {
    color: rgba(255, 255, 255, 0);
    height: 230px;
    background: rgba(239, 239, 239, 0.70) url("../images/QRCode.jpg") no-repeat center center;
    background-size: 85% 85%;
}

aside ul .likeUs div {

}

/* Ghost button */
aside ul li label.button {
    border: 2px solid rgba(107, 107, 107, 0.80);
    position: relative;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}

.button:hover {
    border: 2px solid rgba(107, 107, 107, 1);
}

.button .line {
    display: block;
    position: absolute;
    background: none;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}

.button:hover .line {
    background-color: rgba(107, 107, 107, 1);
}

.button .line-top {
    height: 2px;
    width: 0;
    left: -75%;
    top: -2px;
}

.button:hover .line-top {
    width: 100%;
    left: -2px;
}

.button .line-bottom {
    width: 0;
    height: 2px;
    right: -75%;
    bottom: -2px;
}

.button:hover .line-bottom {
    width: 100%;
    right: -2px;
}

.button .line-left {
    width: 2px;
    height: 0;
    left: -2px;
    bottom: -110%
}

.button:hover .line-left {
    height: 100%;
    bottom: -2px;
}

.button .line-right {
    width: 2px;
    height: 0;
    right: -2px;
    top: -110%
}

.button:hover .line-right {
    height: 100%;
    top: -2px;
}

/* nav bar */
.navbar-extra {
    border-radius: 0;
    margin-bottom: 30px;
}

.page-load-progress-bar {
    border-radius: 0;
    height: 3px;
    background: #f9f9f9;
}

.page-load-progress-bar, .progress-bar {
    border: none;
    box-shadow: none;
}

/* search bar & ask a question button */
.search-bar {
    padding-bottom: 15px;
}

/* footer */
.footer {
    margin-top: 80px;
    padding-top: 20px;
    border-top: 3px solid rgba(0, 0, 0, 0.1);
    /*background: #101010;*/
}

/****************************/
/* ask question detail page */
/****************************/
.input-gap {
    margin-bottom: 25px;
}

/****************************/
/*    list question page    */
/****************************/

/* Question list */

.q-list .list-group-item {
    height: 102px;
}

.ng-view-container {
    text-align: left;
    display: block;
    padding-right: 60px;
}

/* nav bar */

.question-navbar-main {
    width: 100%;
    padding: 0;
    clear: both;
    border-radius: 1px;
    display: block;
}

.question-navbar-main ul {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    list-style: outside none none;
    background: none repeat scroll 0 0 #EAEAEA;
    border: 1px solid #DDD;
    display: block;
}

.question-navbar-main ul li {
    display: block;
    margin: 0;
}

.question-navbar-main ul li a {
    color: #666 !important;
    display: block;
    font-weight: 700;
    padding: 7px 9px;
    -moz-transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

.question-navbar-main ul li a:hover {
    text-decoration: none;
    color: #069 !important;
    transition: all 0.2s ease-in-out 0s;
}

/* question page title */
.page-title {
    padding-left: 5px;
}

/* question list */
.q-list {
    min-width: 650px;
}

.q-list-item-states {
    min-width: 220px;
}

.q-list-item-state {
    float: left;
    height: 65px;
    width: 65px;
    border-radius: 2px;
    margin-right: 5px;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

.votes {
    background: #c9fdfc;
    border: 1px solid #b1e0c6;
}

.answers {
    background: #ffe9d5;
    border: 1px solid #ffd196;
}

.views {
    background: #c9fdfc;
    border: 1px solid #b1e0c6;

}

.btn-tags {
    font-family: "Courier New", "Lucida Console", Monospace, serif;
}

/****************************/
/*   answer question page   */
/****************************/
.question-desc-main {
    padding-left: 25px;
    font-size: 18px;
    line-height: 1em;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #555;
}

.a-item-state-votes {
    float: left;
    height: 65px;
    width: 65px;
    border-radius: 2px;
    margin-right: 5px;
    padding: 0;
    overflow: hidden;
    text-align: center;
    background: #c9fdfc;
    border: 1px solid #b1e0c6;
}

.answer-desc-main {
    padding-left: 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 1em;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #555;
}